<!DOCTYPE html>
<html ng-app="promospt" lang="en">
  <head>
    <title>PromosPT</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
      <%= link_to 'PromosPT', root_path, class:"navbar-brand" %>
    </nav>

    <div ng-view class="container">
        <%= yield %>
    </div><!-- /.container -->


    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>